{
  "openapi": "3.1.0",
  "info": {
    "title": "Zelkea API",
    "description": "A universal financial addressing and payment routing protocol",
    "version": "1.0.0-beta",
    "contact": {
      "name": "Zelkea"
    }
  },
  "servers": [
    {
      "url": "https://api.zelkea.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Handles",
      "description": "Universal financial addresses issued by financial institutions"
    },
    {
      "name": "Transfers",
      "description": "Move money between handles across the Zelkea network"
    },
    {
      "name": "Payments",
      "description": "Authorized money movement from customer handles to businesses"
    },
    {
      "name": "Webhooks",
      "description": "Receive real-time notifications when money moves"
    }
  ],
  "paths": {
    "/handles": {
      "post": {
        "tags": [
          "Handles"
        ],
        "operationId": "createHandle",
        "summary": "Create a payment handle",
        "description": "Registers a new payment handle issued under the institution's domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Handle created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/HandleData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "listHandles",
        "summary": "List all handles issued by the calling institution",
        "description": "Returns all handles issued by the calling institution.",
        "responses": {
          "200": {
            "description": "Handles listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HandleData"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/handles/{handle}": {
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "getHandle",
        "summary": "Get a specific handle",
        "description": "Retrieves a handle's details. The handle must be issued by the calling institution.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "The full handle (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Handle found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/HandleData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Handles"
        ],
        "operationId": "updateHandle",
        "summary": "Update a handle",
        "description": "Updates one or more fields on a handle. The handle must be issued by the calling institution.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "The handle to update (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handle updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/HandleData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "operationId": "createTransfer",
        "summary": "Execute a transfer",
        "description": "Executes a handle-to-handle transfer. The caller must be authorized to move funds from the sender handle.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransferResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/transfers/{identifier}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "listTransfers",
        "summary": "Get transaction history for a given handle or business",
        "description": "Get transaction history for a given handle or business",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "The handle or business identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransferResult"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transfers/{identifier}/{transferId}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "getTransfer",
        "summary": "Get a specific transaction by its ID for a given identifier",
        "description": "Get a specific transaction by its ID for a given identifier",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "transferId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/TransferResult"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "createPayment",
        "summary": "Execute a payment",
        "description": "Executes an authorized payment from a customer handle to one or more receiving handles.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PaymentResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "listPayments",
        "summary": "Get all payments received by the calling entity",
        "description": "Get all payments received by the calling entity",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of records to return",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentResult"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/payments/{id}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "getPayment",
        "summary": "Get a specific payment received by the calling merchant",
        "description": "Get a specific payment received by the calling merchant",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/PaymentResult"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Register a webhook endpoint",
        "description": "Registers a URL to receive real-time event notifications for the calling institution or business. A signing secret is generated and returned once; it is not retrievable again after this call. Registering again replaces any existing configuration and issues a new secret.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookSecretData"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "Get the registered webhook configuration",
        "description": "Returns the currently registered webhook URL for the calling institution or business. The signing secret is masked; it is only shown in full at creation time.",
        "responses": {
          "200": {
            "description": "Webhook configuration found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/WebhookMaskedData"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Remove the registered webhook",
        "description": "Deletes the webhook configuration for the calling institution or business. Event delivery stops immediately.",
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API keys authenticate requests and control access through permission scopes."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "idempotency-key",
        "in": "header",
        "required": true,
        "description": "A unique key to ensure idempotent request processing. Must be a UUID.",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "CreateHandleRequest": {
        "type": "object",
        "required": [
          "handle",
          "balance",
          "currency",
          "limit",
          "code",
          "status"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "The handle identifier (domain suffix is appended automatically)"
          },
          "balance": {
            "type": "number",
            "description": "Initial balance"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ],
            "description": "Currency code"
          },
          "limit": {
            "type": "number",
            "description": "Per-transaction limit"
          },
          "code": {
            "type": "string",
            "description": "Security authorization code for the handle"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ],
            "description": "Initial status of the handle"
          },
          "external_reference": {
            "type": "string",
            "description": "Optional external reference ID"
          }
        }
      },
      "UpdateHandleRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "balance": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "code": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ]
          },
          "external_reference": {
            "type": "string"
          }
        },
        "minProperties": 1,
        "description": "At least one field must be provided"
      },
      "HandleData": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "Full handle (e.g. `alice@acme`)"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "code": {
            "type": "string"
          },
          "external_reference": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": [
          "sender",
          "receiver",
          "amount",
          "currency"
        ],
        "properties": {
          "sender": {
            "type": "string",
            "description": "Sender handle"
          },
          "receiver": {
            "type": "string",
            "description": "Receiver handle"
          },
          "amount": {
            "type": "number",
            "description": "Amount to transfer"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ],
            "description": "Currency code"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "customer",
          "amount",
          "currency",
          "code"
        ],
        "properties": {
          "customer": {
            "type": "string",
            "description": "Customer's fully qualified handle (e.g. `alice@acme`)"
          },
          "amount": {
            "type": "number",
            "description": "Total payment amount"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ],
            "description": "Payment currency"
          },
          "code": {
            "type": "string",
            "description": "Customer's current security authorization code"
          },
          "splits": {
            "type": "array",
            "description": "Optional payment splits. If provided, the sum of all split amounts must equal the total amount.",
            "items": {
              "$ref": "#/components/schemas/PaymentSplit"
            }
          }
        }
      },
      "PaymentSplit": {
        "type": "object",
        "required": [
          "handle",
          "amount"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "Receiver's handle"
          },
          "amount": {
            "type": "number",
            "description": "Amount allocated"
          }
        }
      },
      "PaymentResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "handle": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "transfer_id": {
                  "type": "string"
                }
              }
            }
          },
          "client_reference_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TransferResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "sender": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "CreateWebhookRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint that will receive event notifications"
          }
        }
      },
      "WebhookSecretData": {
        "type": "object",
        "description": "Returned only at registration time. The full secret is never shown again.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string",
            "description": "Signing secret used to verify the `Zelkea-Signature` header on delivered events. Store this securely — it is not retrievable again."
          }
        }
      },
      "WebhookMaskedData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string",
            "description": "Masked signing secret, e.g. `whsec_ab12cd34...`"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "description": "The payload shape delivered to a registered webhook URL. Not returned by any endpoint directly — described here for integration reference. Verify the `Zelkea-Signature` header before trusting the payload; see the Webhooks guide for the verification algorithm.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event ID, e.g. `evt_8f2a1c9e`. Use this to deduplicate retried deliveries."
          },
          "type": {
            "type": "string",
            "enum": [
              "transfer.completed",
              "payment.completed"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "data": {
            "type": "object",
            "description": "Event-specific payload. For `transfer.completed`, matches TransferResult. For `payment.completed`, includes `direction` (`inbound` or `outbound`), the relevant handle, and the full `splits` breakdown when applicable.",
            "additionalProperties": true
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": true
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          },
          "details": {},
          "requestId": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request — missing or invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized — missing, invalid, or expired bearer token",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "const": "Unauthorized"
                },
                "message": {
                  "type": "string"
                },
                "requestId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden — insufficient scope or organization mismatch",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "const": "Forbidden"
                },
                "message": {
                  "type": "string"
                },
                "requestId": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict — resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable entity — required financial infrastructure is unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}