{
  "openapi": "3.1.0",
  "info": {
    "title": "Zelkea API",
    "version": "1.1.0",
    "description": "A universal financial addressing and payment routing protocol."
  },
  "servers": [
    {
      "url": "https://sandbox.zelkea.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.zelkea.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Handles",
      "description": "Universal financial addresses issued by financial institutions"
    },
    {
      "name": "Transfers",
      "description": "Move money between handles across the Zelkea network"
    },
    {
      "name": "Payments",
      "description": "Authorized money movement from customer handles to businesses"
    },
    {
      "name": "Webhooks",
      "description": "Receive real-time notifications when money moves"
    }
  ],
  "paths": {
    "/handles": {
      "post": {
        "tags": [
          "Handles"
        ],
        "operationId": "createHandle",
        "summary": "Create a payment handle",
        "description": "Registers a new payment handle issued under the institution's domain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Handle created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "listHandles",
        "summary": "List all handles issued by the calling institution",
        "description": "Returns all handles issued by the calling institution.",
        "responses": {
          "200": {
            "description": "Handles listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/handles/{handle}": {
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "getHandle",
        "summary": "Get a specific handle",
        "description": "Retrieves a handle's details. The handle must be issued by the calling institution.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "The full handle (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Handle found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "Handles"
        ],
        "operationId": "updateHandle",
        "summary": "Update a handle",
        "description": "Updates one or more fields on a handle. The handle must be issued by the calling institution.",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "The handle to update (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handle updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "operationId": "createTransfer",
        "summary": "Execute a transfer",
        "description": "Executes a handle-to-handle transfer. The caller must be authorized to move funds from the sender handle.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/transfers/{identifier}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "listTransfers",
        "summary": "Get transaction history for a given handle or business",
        "description": "Returns paginated transfer history for the given identifier. The identifier must belong to the calling organization.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "The handle or business identifier (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer history retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/transfers/{identifier}/{txId}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "getTransfer",
        "summary": "Get a specific transfer",
        "description": "Retrieves a single transfer record by transaction ID for the given identifier. The identifier must belong to the calling organization.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "description": "The handle or business identifier (e.g. `alice@acme`)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txId",
            "in": "path",
            "required": true,
            "description": "The transaction ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "createPayment",
        "summary": "Execute a payment",
        "description": "Executes an authorized payment from a customer handle to one or more receiving handles.",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "listPayments",
        "summary": "Get all payments received by the calling merchant",
        "description": "Returns paginated payment history received by the calling merchant business.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Payments retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "getPayment",
        "summary": "Get a specific payment",
        "description": "Retrieves a single payment record received by the calling merchant business.",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "description": "The payment ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Register a webhook endpoint",
        "description": "Registers a URL to receive real-time event notifications for the calling institution or business. A signing secret is generated and returned once; it is not retrievable again after this call. Registering again replaces any existing configuration and issues a new secret.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecretData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "Get the registered webhook configuration",
        "description": "Returns the currently registered webhook URL for the calling institution or business. The signing secret is masked; it is only shown in full at creation time.",
        "responses": {
          "200": {
            "description": "Webhook configuration found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookMaskedData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Remove the registered webhook",
        "description": "Deletes the webhook configuration for the calling institution or business. Event delivery stops immediately.",
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API keys authenticate requests and control access through permission scopes."
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "idempotency-key",
        "in": "header",
        "required": true,
        "description": "A unique key to ensure idempotent request processing. Must be a UUID.",
        "schema": {
          "type": "string"
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "required": false,
        "description": "Opaque pagination cursor returned by a previous request",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Maximum number of results to return (default 50, max 100)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 50
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {},
          "requestId": {
            "type": "string"
          }
        }
      },
      "CreateHandleRequest": {
        "type": "object",
        "required": [
          "handle",
          "balance",
          "currency",
          "limit",
          "code",
          "status"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "The handle identifier (domain suffix is appended automatically)"
          },
          "balance": {
            "type": "number",
            "description": "Initial balance"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ],
            "description": "Currency code"
          },
          "limit": {
            "type": "number",
            "description": "Per-transaction limit"
          },
          "code": {
            "type": "string",
            "description": "Security authorization code for the handle"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ],
            "description": "Initial status of the handle"
          },
          "external_reference": {
            "type": "string",
            "description": "Optional external reference ID"
          }
        }
      },
      "UpdateHandleRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "balance": {
            "type": "number"
          },
          "limit": {
            "type": "number"
          },
          "code": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD"
            ]
          },
          "external_reference": {
            "type": "string"
          }
        },
        "minProperties": 1,
        "description": "At least one field must be provided"
      },
      "HandleData": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "Full handle (e.g. `alice@acme`)"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "code": {
            "type": "string"
          },
          "external_reference": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HandleListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HandleData"
            }
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": [
          "sender",
          "receiver",
          "amount",
          "currency"
        ],
        "properties": {
          "sender": {
            "type": "string",
            "description": "Sender handle"
          },
          "receiver": {
            "type": "string",
            "description": "Receiver handle"
          },
          "amount": {
            "type": "number",
            "description": "Amount to transfer"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ],
            "description": "Currency code"
          },
          "reference": {
            "type": "string",
            "description": "Optional caller-supplied reference, returned unchanged on this transfer"
          }
        }
      },
      "TransferResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "sender": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reference": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "OUTBOUND or INBOUND, relative to the identifier the record was fetched under"
          }
        }
      },
      "TransferListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferResult"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "customer",
          "amount",
          "currency",
          "code"
        ],
        "properties": {
          "customer": {
            "type": "string",
            "description": "Customer's fully qualified handle (e.g. `alice@acme`)"
          },
          "amount": {
            "type": "number",
            "description": "Total payment amount"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ],
            "description": "Payment currency"
          },
          "code": {
            "type": "string",
            "description": "Customer's current security authorization code"
          },
          "reference": {
            "type": "string",
            "description": "Optional caller-supplied reference, returned unchanged on this payment"
          },
          "splits": {
            "type": "array",
            "description": "Optional payment splits. If provided, the sum of all split amounts must equal the total amount.",
            "items": {
              "$ref": "#/components/schemas/PaymentSplit"
            }
          }
        }
      },
      "PaymentSplit": {
        "type": "object",
        "required": [
          "handle",
          "amount"
        ],
        "properties": {
          "handle": {
            "type": "string",
            "description": "Receiver's handle"
          },
          "amount": {
            "type": "number",
            "description": "Amount allocated"
          }
        }
      },
      "PaymentResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "splits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "handle": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "transfer_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaymentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentResult"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint that will receive event notifications"
          }
        }
      },
      "WebhookSecretData": {
        "type": "object",
        "description": "Returned only at registration time. The full secret is never shown again.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string",
            "description": "Signing secret used to verify the `Zelkea-Signature` header on delivered events. Store this securely — it is not retrievable again."
          }
        }
      },
      "WebhookMaskedData": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string",
            "description": "Masked signing secret, e.g. `whsec_ab12cd34...`"
          }
        }
      },
      "WebhookDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request — missing or invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized — missing, invalid, or expired bearer token",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden — insufficient scope or organization mismatch",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict — resource already exists",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable entity — required financial infrastructure is unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error — safe to retry using the same idempotency key where applicable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}