{
  "openapi": "3.1.0",
  "info": {
    "title": "Zelkea API",
    "version": "1.1.0",
    "description": "OpenAPI document aligned with the current Hono route handlers and DynamoDB-backed API behavior."
  },
  "servers": [
    {
      "url": "https://api.zelkea.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Create and fetch virtual accounts"
    },
    {
      "name": "Handles",
      "description": "Create, update, and inspect payment handles"
    },
    {
      "name": "Transfers",
      "description": "Execute and inspect transfers"
    },
    {
      "name": "Payments",
      "description": "Execute and inspect payments"
    },
    {
      "name": "Webhooks",
      "description": "Configure webhook endpoints"
    }
  ],
  "paths": {
    "/accounts/{organization_id}": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "createVirtualAccount",
        "summary": "Create a virtual account for an organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Virtual account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "getVirtualAccount",
        "summary": "Get a virtual account for an organization",
        "parameters": [
          {
            "name": "organization_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Virtual account fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualAccountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/handles": {
      "post": {
        "tags": [
          "Handles"
        ],
        "operationId": "createHandle",
        "summary": "Create a handle",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Handle created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "listHandles",
        "summary": "List handles for the calling institution",
        "responses": {
          "200": {
            "description": "Handles listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/handles/{handle}": {
      "get": {
        "tags": [
          "Handles"
        ],
        "operationId": "getHandle",
        "summary": "Get a handle",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Handle found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Handles"
        ],
        "operationId": "updateHandle",
        "summary": "Update a handle",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHandleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handle updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HandleData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "operationId": "createTransfer",
        "summary": "Execute a transfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/transfers/{identifier}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "listTransfers",
        "summary": "Get transaction history for a handle or business",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer history fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/transfers/{identifier}/{txId}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "operationId": "getTransfer",
        "summary": "Get a specific transfer",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "txId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfer found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "operationId": "createPayment",
        "summary": "Execute a payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment executed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "listPayments",
        "summary": "List payments received by the merchant",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payments listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "operationId": "getPayment",
        "summary": "Get a specific payment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhook",
        "summary": "Create or update a webhook configuration",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhook",
        "summary": "Get the current webhook configuration",
        "responses": {
          "200": {
            "description": "Webhook configuration fetched",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhook",
        "summary": "Delete the current webhook configuration",
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token with the required scopes"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "idempotency-key",
        "in": "header",
        "required": true,
        "description": "Unique request key for idempotent processing",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "details": {},
          "requestId": {
            "type": "string"
          }
        }
      },
      "InstitutionRequest": {
        "type": "object",
        "required": [
          "domain"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9]+$"
          },
          "organization_id": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "InstitutionResponse": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "bridge_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": true
      },
      "Address": {
        "type": "object",
        "required": [
          "street_line_1",
          "city",
          "country"
        ],
        "properties": {
          "street_line_1": {
            "type": "string"
          },
          "street_line_2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "BusinessRequest": {
        "type": "object",
        "required": [
          "handle",
          "registered_address"
        ],
        "properties": {
          "handle": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "registered_address": {
            "$ref": "#/components/schemas/Address"
          },
          "business_legal_name": {
            "type": "string"
          },
          "primary_website": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "BusinessResponse": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "bridge_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "registered_address": {
            "$ref": "#/components/schemas/Address"
          },
          "business_legal_name": {
            "type": "string"
          },
          "primary_website": {
            "type": "string",
            "format": "uri"
          }
        },
        "additionalProperties": true
      },
      "KybLinkRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "redirect_uri": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "KybLinkResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "customer_id": {
            "type": "string"
          },
          "kyc_link": {
            "type": "string"
          },
          "tos_link": {
            "type": "string"
          },
          "kyc_status": {
            "type": "string"
          },
          "tos_status": {
            "type": "string"
          }
        }
      },
      "WalletResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "AccountRequest": {
        "type": "object",
        "required": [
          "source_currency"
        ],
        "properties": {
          "source_currency": {
            "type": "string",
            "enum": [
              "usd",
              "eur"
            ]
          }
        }
      },
      "VirtualAccountResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "CreateHandleRequest": {
        "type": "object",
        "required": [
          "handle",
          "balance",
          "currency",
          "limit",
          "code",
          "status"
        ],
        "properties": {
          "handle": {
            "type": "string"
          },
          "balance": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ]
          },
          "limit": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "code": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "external_reference": {
            "type": "string"
          }
        }
      },
      "UpdateHandleRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "balance": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "limit": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "code": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ]
          },
          "external_reference": {
            "type": "string"
          }
        },
        "minProperties": 1
      },
      "HandleData": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "restricted",
              "inactive"
            ]
          },
          "code": {
            "type": "string"
          },
          "external_reference": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "HandleListResponse": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HandleData"
            }
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": [
          "sender",
          "receiver",
          "amount",
          "currency"
        ],
        "properties": {
          "sender": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "amount": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ]
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "TransferResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sender": {
            "type": "string"
          },
          "receiver": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "reference": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TransferListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferResult"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": [
          "customer",
          "amount",
          "currency",
          "code"
        ],
        "properties": {
          "customer": {
            "type": "string"
          },
          "amount": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "currency": {
            "type": "string",
            "enum": [
              "USD",
              "EUR"
            ]
          },
          "code": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "splits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentSplit"
            }
          }
        }
      },
      "PaymentSplit": {
        "type": "object",
        "required": [
          "handle",
          "amount"
        ],
        "properties": {
          "handle": {
            "type": "string"
          },
          "amount": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "PaymentResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "customer": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "allocations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "handle": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "transfer_id": {
                  "type": "string"
                }
              }
            }
          },
          "client_reference_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "splits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "handle": {
                  "type": "string"
                },
                "amount": {
                  "type": "number"
                },
                "transfer_id": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PaymentListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentResult"
            }
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "WithdrawalAccountRequest": {
        "type": "object",
        "required": [
          "account_owner_name",
          "account_type",
          "currency",
          "address"
        ],
        "properties": {
          "account_owner_name": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "account": {
            "type": "string"
          },
          "swift": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "account_owner_type": {
            "type": "string",
            "enum": [
              "individual",
              "business"
            ]
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          }
        }
      },
      "WithdrawalAccountResponse": {
        "type": "object",
        "properties": {
          "PK": {
            "type": "string"
          },
          "SK": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "bridge_external_account_id": {
            "type": "string"
          },
          "bridge_customer_id": {
            "type": "string"
          },
          "account_owner_name": {
            "type": "string"
          },
          "account_type": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "bank_name": {
            "type": [
              "string",
              "null"
            ]
          },
          "last_4": {
            "type": [
              "string",
              "null"
            ]
          },
          "active": {
            "type": "boolean"
          },
          "account": {
            "type": "string"
          },
          "swift": {
            "type": "string"
          },
          "iban": {
            "type": "string"
          },
          "account_owner_type": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "business_name": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WithdrawalRequest": {
        "type": "object",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          }
        }
      },
      "WithdrawalResponse": {
        "type": "object",
        "properties": {
          "PK": {
            "type": "string"
          },
          "SK": {
            "type": "string"
          },
          "organization_id": {
            "type": "string"
          },
          "transfer_id": {
            "type": "string"
          },
          "client_reference_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "amount": {
            "type": [
              "number",
              "string"
            ]
          },
          "currency": {
            "type": "string"
          },
          "payment_rail": {
            "type": "string"
          },
          "external_account_id": {
            "type": "string"
          },
          "receipt_url": {
            "type": [
              "string",
              "null"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "WebhookResponse": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string"
          },
          "secret": {
            "type": "string"
          }
        }
      },
      "WebhookDeleteResponse": {
        "type": "object",
        "properties": {
          "deleted": {
            "type": "boolean"
          }
        }
      },
      "SimulateDepositRequest": {
        "type": "object",
        "required": [
          "amount",
          "currency"
        ],
        "properties": {
          "amount": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "string"
              }
            ]
          },
          "currency": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
